# PyCity Schools Analysis

- My analysis
  
---

In [2]:
import pandas as pd
from pathlib import Path

# load csv files
school_data_path = Path("Resources/schools_complete.csv")
student_data_path = Path("Resources/students_complete.csv")

# assign csv files to dataframes
school_data = pd.read_csv(school_data_path)
student_data = pd.read_csv(student_data_path)

# combine data
school_data_all = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_all.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [3]:
# calculate total number of unique schools
school_count = len(school_data_all["school_name"].unique())
print(school_count)

15

In [4]:
# calculate total number of students
student_count = len(school_data_all["student_name"])
print(student_count)

39170

In [5]:
# calculate total budget
total_budget = school_data["budget"].sum()
print(total_budget)

24649428

In [6]:
# calculate average math score
average_math_score = school_data_all["math_score"].mean()
print(average_math_score)

78.98537145774827

In [7]:
# calculate average reading score
average_reading_score = school_data_all["reading_score"].mean()
print(average_reading_score)

81.87784018381414

In [8]:
# calculate the percentage of students who passed math (greater than or equal to 70)
passing_math_count = school_data_all[(school_data_all["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
print(passing_math_percentage)

74.9808526933878

In [9]:
# calculate the percentage of students who passed reading
passing_reading_count = school_data_all[(school_data_all["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
print(passing_reading_percentage)

85.80546336482001

In [10]:
# students that passed math and reading
overall_passing_count = school_data_all[
    (school_data_all["math_score"] >= 70) & (school_data_all["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = overall_passing_count / float(student_count) * 100
print(overall_passing_rate)

65.17232575950983

In [11]:
# create high-level snapshot of district's key metrics in a DataFrame
data = {'Total Schools':[school_count],'Total Students':[student_count],
        'Total Budget':[total_budget],'Average Math Score':[average_math_score],
        'Average Reading Score':[average_reading_score],'% Passing Math':[passing_math_percentage],
        '% Passing Reading':[passing_reading_percentage],'% Overall Passing':[overall_passing_rate]
        }
district_summary = pd.DataFrame(data)

# format dataframe
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

district_summary.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [12]:
# show school types
school_types = school_data["type"].unique()
print(school_types)

['District' 'Charter']

In [13]:
# total student count per school
per_school_counts = school_data_all.groupby("school_name")["student_name"].count()
print(per_school_counts)

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [14]:
# total school budget and per capita spending per school
# data = {"School_Name":[per_school_counts["school_name"]]

# }

per_school_budget = school_data_all.groupby("school_name")["budget"].sum().to_frame("Budget")
per_school_capita = (school_data_all.groupby("school_name")["budget"].sum() /
    school_data_all.groupby("school_name")["student_name"].count()).to_frame("Per_Capita")

df_per_school_finance = pd.merge(per_school_budget, per_school_capita, how="inner", on=["school_name","school_name"])
df_per_school_finance.head()

                                                Budget  Per_Capita
school_name          school_name
Bailey High School   Bailey High School    15549641728   3124928.0
Cabrera High School  Cabrera High School    2009159448   1081356.0
Figueroa High School Figueroa High School   5557128039   1884411.0
Ford High School     Ford High School       4831365924   1763916.0
Griffin High School  Griffin High School    1346890000    917500.0

In [15]:
# Calculate the average test scores per school
per_school_math = school_data_all.groupby("school_name")["math_score"].mean().to_frame("Math_Score")
per_school_reading = school_data_all.groupby("school_name")["reading_score"].mean().to_frame("Reading_Score")

df_per_school_test = pd.merge(per_school_math, per_school_reading, how="inner", on=["school_name","school_name"])
df_per_school_test = df_per_school_test.rename(columns={"school_name":"School_Name"})
df_per_school_test.iloc[[1]]

                                         Math_Score  Reading_Score
school_name         school_name
Cabrera High School Cabrera High School   83.061895       83.97578

In [24]:
# Calculate the number of students per school with math scores of 70 or higher
df = school_data_all[school_data_all['math_score'] >= 70]
# filt = (df['math_score'] >= 70)
# df_display = df.loc[filt, ["school_name","student_name","math_score"]]
df.groupby(df["school_name"]).count()
# df.loc
# df_display.head()
# school_students_passing_math =

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,3318,3318,3318,3318,3318,3318,3318,3318,3318,3318
Cabrera High School,1749,1749,1749,1749,1749,1749,1749,1749,1749,1749
Figueroa High School,1946,1946,1946,1946,1946,1946,1946,1946,1946,1946
Ford High School,1871,1871,1871,1871,1871,1871,1871,1871,1871,1871
Griffin High School,1371,1371,1371,1371,1371,1371,1371,1371,1371,1371
Hernandez High School,3094,3094,3094,3094,3094,3094,3094,3094,3094,3094
Holden High School,395,395,395,395,395,395,395,395,395,395
Huang High School,1916,1916,1916,1916,1916,1916,1916,1916,1916,1916
Johnson High School,3145,3145,3145,3145,3145,3145,3145,3145,3145,3145
Pena High School,910,910,910,910,910,910,910,910,910,910
Rodriguez High School,2654,2654,2654,2654,2654,2654,2654,2654,2654,2654
Shelton High School,1653,1653,1653,1653,1653,1653,1653,1653,1653,1653
Thomas High School,1525,1525,1525,1525,1525,1525,1525,1525,1525,1525
Wilson High School,2143,2143,2143,2143,2143,2143,2143,2143,2143,2143
Wright High School,1680,1680,1680,1680,1680,1680,1680,1680,1680,1680